* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #fff8e7;
}

header {
    background: #a10000;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('../images/banner.jpg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-text {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: orange;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 60px 50px;
    text-align: center;
}

.gallery-grid img {
    width: 300px;
    border-radius: 10px;
}

footer {
    background: #a10000;
    color: white;
    text-align: center;
    padding: 15px;
}
